{% extends 'parrotsec/base.html' %}
{% load static %}

{% block content %}
    <div class="header">
        
        <div class="overlay">

            <div class="content">
            <h1>Parrot Security</h1>
            <p>
                All-in-one framework for Cyber Security, Software <br> Development and Privacy Defense.
            </p>

            <div class="header-buttons">
                <button>Download</button>
                <button>4.10 Release Notes</button>
            </div>
        </div>

        </div>

    </div>

    {% include "parrotsec/navbar.html" %}

    <div class="who_we_are">
        <h2 class="who_we_are_header">Parrot <span>OS</span></h2>
        <hr>

        <div class="inner-container">
            <div class="left">

            </div>
            <div class="right">
                <h3>
                    We are the Parrot Project
                </h3>

                <p>
                    Parrot is a worldwide community of developers and security specialists that work together to build a shared framework of tools to make their job easier, standardized and more reliable and secure.
                </p>

                <p>
                    Parrot OS, the flagship product of Parrot Security is a GNU/Linux distribution based on Debian and designed with Security and Privacy in mind. It includes a full portable laboratory for all kinds of cyber security operations, from pentesting to digital forensics and reverse engineering, but it also includes everything needed to develop your own software or keep your data secure.
                </p>

                <div class="inner-right-container">
                    
                    <div class="row">
                        
                        <div class="col">
                            <h4>Secure</h4>
                            <p>
                                Always updated, frequently released with many hardening and sandboxing options available. Everything is under your complete control.
                            </p>
                        </div>

                        <div class="col">
                            <h4>Free (as in freedom)</h4>
                            <p>
                                Feel free to get the system, share with anyone, read the source code and change it as you want! this system is made to respect your freedom, and it ever will be.
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col">
                            <h4>Lightweight</h4>
                            <p>
                                We care about resources consumption, and the system has proven to be extremely lightweight and run surprisingly fast even on very old hardware or with very limited resources.
                            </p>
                        </div>

                        <div class="col">
                            <h4>Portable and universal</h4>
                            <p>
                                Our tools are designed to be compatible with as many devices as possible via containerization technologies like Docker or Podman. Feel free to use the Parrot tools on Windows, Mac OS or any other Linux distribution without changing your habits.
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="feautres">

        <div class="card">
            <div class="image-holder">
                <img src="" alt="" />
            </div>

            <div class="card-content">
                <h3>
                    Security
                </h3>
                <p>
                    A complete arsenal of security tools that can be deployed on all your devices and in the cloud.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="image-holder">
                <img src="" alt="" />
            </div>

            <div class="card-content">
                <h3>
                    Privacy
                </h3>
                <p>
                    A secure and hardened system ready to securely surf the web and privately communicate with, plus many useful zero-knowledge services where encryption is done right.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="image-holder">
                <img src="" alt="" />
            </div>

            <div class="card-content">
                <h3>
                    Software Development
                </h3>
                <p>
                    A full development stack with the best editors, languages and technologies available out of the box.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="image-holder">
                <img src="" alt="" />
            </div>

            <div class="card-content">
                <h3>
                    Learning
                </h3>
                <p>
                    Many resources to learn from, in order to make your skillset stronger. The system is designed to push newbies into good habits.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="image-holder">
                <img src="" alt="" />
            </div>

            <div class="card-content">
                <h3>
                    Community
                </h3>
                <p>
                    A vast community of experts who want to know you and help you in your cyber security journey.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="image-holder">
                <img src="" alt="" />
            </div>

            <div class="card-content">
                <h3>
                    Infrastructure
                </h3>
                <p>
                    A resilient and distributed infrastructure with dedicated CDNs, worldwide mirrors and IPFS/P2P gateways to give access to software and information even to people in totalitarian regimes or in poor countries where stable internet connection to foreign countries is not an option.
                </p>
            </div>
        </div>
    
    </div>

    <div class="community">

        <div class="community-forum">
            <h2>
                Community Forum
            </h2>
            
            <p>
                An awesome community is one click away. Receive assistence, share ideas and follow the development of the project.
            </p>

            <button>
                Jump Aboard
            </button>
        </div>

        <div class="community-portal">
            <h2>
                Community Portal
            </h2>

            <p>
                From Telegram groups to IRC Channels and social pages.
            </p>

            <button>
                Official Links
            </button>
        </div>

    </div>

    <div class="footer">
        <div class="social-links">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-telegram"></i>
            <i class="fa fa-wordpress"></i>
            <i class="fa fa-DW"></i>
        </div>

        <div class="telegram-logo">
            <img src="" alt=""/>
        </div>

        <div class="copyright">
            <p>Copyright &copy; 2013-2020 Lorenzo Faletra</p>
            <p>Copyright &copy; 2020 Parrot Security CIC</p>
        </div>

        <div class="powered-by">
            <small>Proudly Powered in Sicily with a huge amount of caffeine!</small>
        </div>
    </div>
{% endblock content %}